@import 'tailwindcss';

body {
  background: black;
  color: var(--color-orange-50);
  font-family: Arial, Helvetica, sans-serif;
}

Link:hover {
  color: red;
}

.common_heading {
  color: pink;
}

@theme inline{
  --font-roboto: var(--font-roboto);
  --font-work-sans: var(--font-work-sans);
}